/* Donor Signup Form */
.newDonor,
.login-page{
  background: whitesmoke;
  padding-left: 260px;
  padding-right: 150px;
  padding-top: 111px;
  padding-bottom: 111px;
}

.login-page{
  padding-left: 300px;
  padding-top: 111px;
  padding-bottom: 111px;
  height: 100vh;
}
  
  .form-page {
    display: flex;
    background-color: whitesmoke;
    border-radius: 60px;
    margin-left: -200px;
    padding-right: 190px;
    padding-left: 40px;
  }
  
  .form-left {
    flex: 1;
    padding: 20px;
    background-position: center;
    position: relative;
    height: 530px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    background-color: white;
    width: 210px;
    margin-left: 260px;
  }
  
  .logo {
    position: absolute;
    top: 0; 
    right: 0;
  }
  
  .form-right {
    flex: 2;
    padding: 20px;
    background-position: center;
    position: relative;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 530px;
    background: url('../assets/CharityHomeBack.png') no-repeat center center / 120%;
    background-color: rgba(245, 245, 245, 0.9);
    background-blend-mode: saturation;
  }

  .form-container form{
    width: 760px;
    margin: 0 auto;
  }

  .form-container{
    border: none;
    margin-top: -20px;
    height: 530px;
    background-color: transparent;
    outline: none;
    padding-top: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-left: 150px;
    padding-right: 150px;
    
  }

  .form-text h2{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
  }

  .form-text p{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -20px;
    letter-spacing: 2px;
  }

  .form-group{
    margin-top: 15px;
    height: 30px;
    padding: 10px;
    width: 750px;
    background-color: white;
    margin-left: -100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
  }

  .form-group input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }

  .form-input::placeholder{
    color: rgba(0, 0, 0, 0.731);
  }

  .form-input:focus {
    background-color: rgba(255, 255, 255, 1); 
  }

  .checkbox-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    padding: 10px 10px 10px 0px;
  }

  .form-checkbox{
    width: 25px; 
    height: 25px;
    margin-right: 5px;
    margin-top: -5px;
    cursor: pointer;
  }

  .loginn{
    margin-top: -20px;
    padding-left: 360px;
    width: 750px;
  }

  .link{
    margin-left: 10px;
    margin-right: 10px;
    color:  #E66E4E;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }

  .loginn p{
    font-size: 18px;
  }

  .accept p{
    font-size: 17px;
    line-height: 1.5;
    width: 750px;
  }

  .submit-btn{
    margin-left: 80px;
    width: 450px;
    margin-top: 10px;
  }


  /* For devices with a maximum width of 1200px */
@media (max-width: 1200px) {
  .newDonor, .login-page {
      padding-left: 200px;
      padding-right: 100px;
  }
  .form-container {
      width: 600px;
      padding-left: 100px;
      padding-right: 100px;
  }
}

/* For devices with a maximum width of 992px */
@media (max-width: 992px) {
  .newDonor, .login-page {
      padding-left: 100px;
      padding-right: 50px;
  }
  .form-page {
      flex-direction: column;
      margin-left: 0;
  }
  .form-left, .form-right {
      width: 100%;
      margin-left: 0;
      border-radius: 30px;
  }
  .form-container form {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
  }
  .form-container {
      padding-left: 50px;
      padding-right: 50px;
  }
  .form-group {
      width: 90%;
      margin-left: 0;
  }
  .submit-button {
      width: 70%;
      margin-left: 0;
  }
}

/* For devices with a maximum width of 768px */
@media (max-width: 768px) {
  .newDonor, .login-page {
    padding: 50px;
    display: flex;
    flex-direction: column;
      
  }

  .form-left{
    background-color: transparent;
  }

  .form-right{
    margin-top: 70px;
    width: 140%;
    margin-left: -20px;
  }

  }
  .form-container {
      padding: 20px;
      width: 90%;
      border-radius: 0px;
  }
  .loginn {
      padding-left: 0;
      text-align: left;
      width: 80%;
  }

  .link{
    font-size: 15px;
  }

  .checkbox-container{
    margin-left: -440px;
  }

  .form-group{
    width: 97%;
      margin-left: 0;
  }

  .accept p {
    width: 200%;
}

  .accept{
      width: 50%;
  }
  .checkbox-container {
      justify-content: center;
  }
  .submit-button {
      width: 100%;
  }

/* For devices with a maximum width of 576px */
@media (max-width: 576px) {
  .newDonor, .login-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
      
  }

  .form-left{
    background-color: transparent;
  }

  .form-right{
    margin-top: 70px;
    width: 140%;
    margin-left: -20px;
  }

  .loginn{
    width: 70%;
  }

  .loginn p{
    font-size: 14px;
  }

  .link{
    font-size: 14px;
  }

  .form-container {
      padding: 10px;
      width: 80%;
      border-radius: 0px;
  }
  .form-text h2, .form-text p {
      font-size: 18px;
  }
  .form-group {
      width: 100%;
      padding: 5px;
  }
  .submit-button {
      width: 100%;
  }
  .accept p {
      font-size: 14px;
      width: 100%;
  }
}

@media (max-width: 480px) {
  .newDonor, .login-page {
      padding-left: 0px;
      width: 190%;
      display: flex;
      flex-direction: column;
  }

  .form-left{
    display: none;
  }

  .form-right{
    flex: 1;
    width: 100%;
    margin-left: 0;
    border-radius: 30px;
  }

  .form-container {
      border-radius: 60px;
      width: 55%;
      margin-left: -40px;
      padding: 5px;
      padding-left: 70px;
      padding-top: 10px;
      height: 500px;

  }
  .form-text h2, .form-text p {
      font-size: 14px;
      text-align: left;
      letter-spacing: 0px;
      margin-top: 5px;
  }
  .form-group {
      width: 80%;
     
  }
  .submit-button {
      width: 80%;
  }

  .checkbox-container{
    width: 50%;
    
  }

  .loginn{
    width: 100%;
    font-size: 12px;
    
  }
  .accept p {
      font-size: 12px;
      width: 100%;
      font-size: 12px;
  }

  .link{
    font-size: 10px;
  }
}

/* Login Form Styling*/

.form-right{
  background-image: url('../assets/photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: overlay;
  padding-top: 20px;
}

.login{
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
}

.login p,
.accept p{
  font-weight: 600;
}

.form-header{
  margin-top: 80px;
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.login-btn{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #E66E4E;
  color: white;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 1.5s ease-in-out;
  margin-left: 200px;
  margin-top: 40px;
}

.llink{
  color: #E66E4E;
  text-decoration: none;
  font-weight: 600;
}
  

/* donation */
.donation-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.donation-amounts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.donation-amounts button {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
}

.donation-amou0ts button.selected {
  background-color: #4CAF50;
  color: white;
}

.donation-summary {
  margin-bottom: 20px;
}

.donor-options {
  margin-bottom: 20px;
}

.toggle-switch {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Charity Application */
.card4{
  padding-top: 200px;
}

.textarea textarea{
  width: 624px;
  margin-top: 20px;
  height: 30vh;
}

.input-group input{
  background-color: white;
  margin-left: -2px;
  margin-top: -5px;
}

.card6{
  padding-top: 240px;
}

.success-donation{
  color: #E66E4E;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.form-text .congragulations{
  font-family: Times New Roman;
  font-size: 18px;
  letter-spacing: 0px;

}

.card6 .form-text{
  padding-top: 130px;
  line-height:1.5;
}

/* CharityApplications.css */
.charity-applications {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
  border: 1px solid black;
}

.card1,
.card2,
.card3,
.card4,
.card6 {
  display: flex;
  background: whitesmoke;
  padding-left: 260px;
  padding-right: 150px;
  padding-top: 111px;
  padding-bottom: 111px;
}

.form-left img {
  width: 90%;
  margin-top: 20px;
}

.card1 .form-right {
  padding-top: 30px;
}

.card1 .form-right h3 {
  margin-top: 80px;
  margin-bottom: 40px;
}

.card1 {
  padding-top: 250px;
}

.card1 .form-page {
  height: 70vh;
}

.card1 .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
  padding: 15px;
}

.card1 .button-with-description {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  width: 700px;
  padding: 5px;
  padding-top: 10px;
}

.fundraising-button {
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 3s ease;
  border-radius: 5px;
}

.fundraising-button.selected {
  background-color: #E66E4E;
}

.fundraising-button:hover {
  transform: scale(1.09);
  background-color: #E66E4E;
}

.button-description {
  margin-top: 10px;
  font-size: 18px;
  color: black;
  font-weight: 600;
  max-width: 400px;
}

.card1-text {
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.card1-container {
  padding-top: 45px;
}

.card-footer {
  padding: 5px;
}

.next-button,
.previous-button {
  margin-top: 20px;
  width: 200px;
  height: 38px;
  background-color: #E66E4E;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.previous-button:disabled,
.next-button:disabled {
  background-color: rgb(0, 0, 0);
  cursor: not-allowed;
}

.card1 .next-button {
  margin-left: 200px;
  width: 300px;
}

.card2 .form-left {
  height: 830px;
}

.card2 .form-right {
  height: 730px;
  width: 100%;
}

.form2-container {
  background-color: transparent;
  border: none;
}

.form-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.form-input:focus {
  border: none;
}

.card3 {
  padding-right: 300px;
  padding-left: 100px;
  padding-top: 250px;
}

.card3-content h3 {
  margin-top: 100px;
  color: #318E8D;
  font-size: 30px;
  font-weight: 600;
}

.card2 .form-page {
  height: 80vh;
  margin-top: 40px;
}

.card2 .form-left {
  height: 800px;
}

.card2 .form-right {
  height: 800px;
  width: 100%;
}

.form-container {
  margin-left: -5px;
}

.card2 .form-container {
  padding-left: 80px;
  padding-right: 71px;
  padding-top: 10px;
  height: 560px;
}

.error-message {
  background-color: transparent;
  font-size: 14px;
  color: red;
  margin-top: -20px;
  margin-left: 450px;
  font-weight: 600;
  display: none;
}

.reason {
  margin-top: 30px;
}

.reason h3 {
  margin-bottom: -5px;
  text-align: center;
}

.select-fundraising {
  width: 120px;
  background-color: transparent;
  color: black;
  border: 2px double #E66E4E;
  font-size: 18px;
  font-weight: 600;
}

.select-fundraising.selected {
  background-color: #E66E4E;
}

.select-fundraising:hover {
  background-color: #E66E4E;
}

.category-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: 36px;
}

.card2-footer,
.card3-footer,
.card4-footer {
  display: flex;
  gap: 30px;
  margin-left: 130px;
}


@media screen and (max-width: 480px) {
  .card1 {
      padding: 20px;
      width: 88%;
      height: 110vh;
      padding-top: 100px;
  }

  .form-page {
      flex-direction: column;
      border-radius: 0px;
      width: 40%;
      margin-left: -21px;
      height: 112vh;
  }

  .form-right {
      width: 240%;
      height: auto;
      margin-left: -30px;
  }

  .form-left {
      display: none;
  }

  .card1-container {
      padding-top: 20px;
      height: 80vh;

  }

  .button-container {
      flex-direction: column;
      align-items: center;
  }

  .button-with-description {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .fundraising-button {
      width: 80%;
  }

  .button-description {
      width: 100%;
      margin-top: 10px;
      font-size: 10px;
  }

  .card-footer {
      text-align: center;
  }

  .next-button {
      width: 70%;
      margin-left: -50px;
  }

}

@media screen and (max-width: 768px) {
  .card1-text h3 {
      font-size: 18px;
  }

  .fundraising-button {
      font-size: 14px;
      padding: 10px 20px;
  }

  .button-description {
      font-size: 14px;
  }

  .next-button {
      width: 100%;
      font-size: 16px;
  }
}

.card3,
.card4,
.card6 {
  height: 80vh;
}

.card3 .form-page {
  padding-top: 150px;
}

.card3-footer {
  margin-top: -180px;
}

.card4-footer {
  margin-top: -120px;
}

.card3 .form-left,
.card3 .form-right {
  height: 500px;
}

.card3-h3 {
  font-size: 25px;
  color: #318E8D;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;
  margin-bottom: -10px;
}

.card3-h4,
.card3-p {
  text-align: left;
  color: black;
}

.card3-h4 {
  font-weight: 600;
  font-size: 18px;
}

.card3-p {
  font-size: 15px;
  margin-top: -20px;
}

.donation-options {
  margin: 20px 0;
  text-align: center;
}

.donation-options h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.select-donation {
  margin: 5px;
  width: 150px;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #E66E4E;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: 600;

}

.select-donation.selected {
  background-color: #E66E4E;
}

.select-donation:hover {
  background-color: #E66E4E;
}

.card3-form-group {
  width: 630px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: transparent;
}

.card3-form-input {
  width: 630px;
  font-weight: 600;
  background-color: transparent;
}

.card3-form-input input {
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.card3 .card3-footer {
  margin-top: 30px;
}

.card5 {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 200px;
}

.card-content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.preview-details p {
  margin: 10px 0;
  font-size: 17px;
  color: #000000;
  font-weight: 600;
}

.preview-details strong {
  color: #000000;
  font-size: 18px;
  line-height: 2;
  color: #318E8D;
}

.review {
  font-size: 30px;
  font-weight: 600;
  color: #E66E4E;
}

.card5-footer {
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
}

.submit {
  margin-left: 30px;
  margin-right: 20px;
  gap: 20px;
}

.card6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


  padding-top: -20px;
}

.card6-content{
  height: 50vh;
  margin-top: 250px;
  width: 800px;
}

.card6-content .form-text{
  height: 50vh;
  margin-top: 130px;
  width: 800px;
}

.success-donation h3{
  font-size: 35px;
  font-weight: 600;
  color: #E66E4E;
  text-align: center;
  margin-top: 50px;
}

.congratulations{
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  margin-top: 50px;
  font-family:'Times New Roman', Times, serif;
  line-height:1.5;
}

.thanks{
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  padding-top: 20px;
  font-family:'Times New Roman', Times, serif;
  line-height:1.5;
}

.exit-button{
  margin-left: 300px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  text-decoration:none;
  transition: all 2s;
}

.exit-button:hover{
  transform: scale(1.09);
  background-color: #E66E4E;
  color: white;
}

.ext{
  padding-top: 50px;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .card1, .card2, .card3, .card4, .card6 {
    padding-left: 200px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 992px) {
  .card1, .card2, .card3, .card4, .card6 {
    padding-left: 100px;
    padding-right: 50px;
  }
  .form-page {
    flex-direction: column;
  }
  .form-left, .form-right {
    width: 100%;
    margin-left: 0;
    border-radius: 30px;
  }
  .form-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .card1, .card2, .card3, .card4, .card6 {
    padding: 50px;
  }
  .form-right {
    margin-top: 70px;
    width: 140%;
    margin-left: -20px;
  }
  .form-group {
    width: 97%;
    margin-left: 0;
  }
  .checkbox-container {
    margin-left: -440px;
  }
}

@media screen and (max-width: 576px) {
  .card1, .card2, .card3, .card4, .card6 {
    padding: 20px;
  }
  .form-text h2, .form-text p {
    font-size: 18px;
  }
  .form-group {
    width: 100%;
    padding: 5px;
  }
  .submit-button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card1, .card2, .card3, .card4, .card6 {
    padding-left: 0px;
    width: 190%;
  }
  .form-left {
    display: none;
  }
  .form-right {
    width: 100%;
    margin-left: 0;
  }
  .form-container {
    width: 55%;
    margin-left: -40px;
    padding: 5px;
    padding-left: 70px;
  }
  .form-text h2, .form-text p {
    font-size: 14px;
    text-align: left;
    letter-spacing: 0px;
  }
  .checkbox-container {
    width: 50%;
  }
}
@media screen and (max-width: 320px) {
  .card1, .card2, .card3, .card4, .card6 {
    padding-left: 0px;
    width: 190%;
  }
  .form-left {
    display: none;
  }
  .form-right {
    width: 100%;
    margin-left: 0;
  }
  .form-container {
    width: 55%;
    margin-left: -40px;
    padding: 5px;
    padding-left: 70px;
  }
  .form-text h2, .form-text p {
    font-size: 14px;
    text-align: left;
    letter-spacing: 0px;
  }
  .checkbox-container {
    width: 50%;
  }
}