.main-home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

/* Home Content */
.home-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.home-content section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Counter Section */
.counter-container {
    background: url('../assets/CounterBack.png') no-repeat center center / cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
}

.counter-text{
    align-items: center;
    justify-content: center;
}

.counter-text h2{
    font-size: 35px;
    color: #E66E4E;
}

.counter-text h3{
    margin-top: -20px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.counter-numbers{
    display: flex;
    align-items: center;
    border: 1px solid white;
    background: rgb(245, 245, 245);
    width: 800px;
    border-radius: 20px 0px;
}

.counter-numbers .insight{
    margin-left: 70px;
    margin-right: 50px;
}

.counter-numbers .insight h2{
    font-size: 50px;
    color: #318E8D;
    text-align: center;
    margin-top: 10px;
}

.counter-numbers .insight p{
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: -40px;
}

.counter-text2{
    margin-top: -10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.counter-text2 span{
    color: #E66E4E;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.counter-button{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid #318E8D;
    border-left: 1px solid #318E8D;
    margin-bottom: 10px;
    background-color:#E66E4E;
    border-radius: 20px;
    padding: 15px 20px;
    transition: all ease-in-out 1s;
}

.counter-button:hover{
    transform: scale(1.09);
    background-color: #318E8D;
    color: white;
    border-top: 1px solid #E66E4E;
    border-right: 1px solid #E66E4E;
    box-shadow: #E66E4E;
}

/* Charity List Section*/
#charities-section {
    height: 100vh;
    background: url('../assets/CharityHomeBack.png') no-repeat center center / 120%; /* Zoom in to 120% */
    background-color: rgba(245, 245, 245, 0.9); /* Increase opacity for more white */
    background-blend-mode: saturation; /* This will reduce color saturation */
}

.charities-section-text{
    margin-top: 60px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    margin-left:140px;
}


/* Completed Fundraisers */
.completed-fundraisers {
    align-items: center;
    height: 100vh;
    background: linear-gradient(#df5644e8, #e35a48ea), url('../assets/CompletedFundraisersBack.png') no-repeat center center / cover;
}

.completed-fundraisers-text{
    padding: 10px;
    width: 1270px;
    margin-left: 150px;
}

.completed-fundraisers-text h2{
    font-size: 35px;
    color: white;
    margin-top: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-weight: 600;
}

.completed-fundraisers-text p{
    font-size: 23px;
    color: white;
    margin-top: -10px;
    text-align: left;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
}







