.navbar-container{
    height: 12vh;
    background-color: white;
    display: flex;
    padding: 5px;
    border-radius: 0px 0px 20px 20px;
}

.navbar-logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
}

.nav-links ul{
    list-style-type: none;
    display: flex;
    margin-left: 600px;
    margin-top: 70px;
    font-size: 20px;
}
.nav-links ul li{
    margin-left: 30px;
    font-weight: 500;
    cursor: pointer;
    color: #E66E4E;
}

.navbar-container.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .navbar-logo.hidden {
    display: none;
  }
  
  .nav-links.sticky {
    margin-left: 0;
  }
  