.newDonor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333; /* Dark grey background */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .form-page {
    display: flex;
    -ms-layout-grid-type: strict;
    width: 80%; /* Adjust based on preference */
    max-width: 1200px; /* Ensures responsiveness */
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  .form-left {
    flex: 1;
    display: flex;
    padding-top: 1%;
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 150px;
  }
  
  .logo {
    position: absolute;
    top: 0; /* Aligns the logo to the top edge */
    right: 0; /* Example maximum width */
  }
  
  .form-right {
    flex: 2;
    padding: 20px;
    background-position: center;
    position: relative;
    height: 600px;
    border-radius: 10px;
  }
  
  .submit-button {
    background-color: black;
    align-self: center;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .submit-button:hover {
    background-color:red;
  }
  .form-input {
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid #4a4a4a;
    background-color: transparent;
    border-radius: 50px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    outline: none;
    width: 80%;
    font-weight: bold;
    box-sizing: border-box;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .form-input:focus {
    background-color: rgba(255, 255, 255, 1); /* Fully opaque white on focus */
  }
  
  /* Styling for labels */
  .form-label {
    font-size: 1rem; /* Larger font size for better readability */
    margin-bottom: 5px; /* Adds some space below the label */
    display: block; /* Ensures labels appear above inputs */
    font-weight: bold;
  }
  /* Targeting h2 tags within the form */
.form-container h2 {
    color: red; /* Changes the text color to red */
  }
  .form-checkbox{
    width: 25px; /* Checkboxes usually don't need full width */
    height: 25px; /* Let the checkbox have its default height */
    margin-right: 5px;
  }
  